In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [56]:
data = pd.read_csv('data.csv')
data.drop(["No", "year", "month", "day", "hour",], axis=1, inplace=True)
data.head()

   pm2.5  DEWP  TEMP    PRES cbwd    Iws  Is  Ir
0    NaN   -21 -11.0  1021.0   NW   1.79   0   0
1    NaN   -21 -12.0  1020.0   NW   4.92   0   0
2    NaN   -21 -11.0  1019.0   NW   6.71   0   0
3    NaN   -21 -14.0  1019.0   NW   9.84   0   0
4    NaN   -20 -12.0  1018.0   NW  12.97   0   0

In [138]:
anslist = []
names = []
window_size = 4
size = data.size
for i in range (window_size,0,-1):
    lst = data.shift(i)
    anslist.append(lst)
    names += [('var%d(t-%d)' % (j+1, i)) for j in range(window_size)]
# pred =data.shift(-window_size).iloc[0]['TEMP']

In [139]:
nd = pd.concat(anslist, axis=1)

In [142]:
nd

,pm2.5,DEWP,TEMP,PRES,cbwd,Iws,Is,Ir,pm2.5,DEWP,...,Is,Ir,pm2.5,DEWP,TEMP,PRES,cbwd,Iws,Is,Ir
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-21.0,-11.0,1021.0,NW,1.79,0.0,0.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,NaN,-21.0,-12.0,1020.0,NW,4.92,0.0,0.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-21.0,...,0.0,0.0,NaN,-21.0,-11.0,1019.0,NW,6.71,0.0,0.0
4,NaN,-21.0,-11.0,1021.0,NW,1.79,0.0,0.0,NaN,-21.0,...,0.0,0.0,NaN,-21.0,-14.0,1019.0,NW,9.84,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43819,11.0,-26.0,1.0,1032.0,NW,205.15,0.0,0.0,8.0,-23.0,...,0.0,0.0,10.0,-22.0,-2.0,1033.0,NW,226.16,0.0,0.0
43820,8.0,-23.0,0.0,1032.0,NW,214.09,0.0,0.0,9.0,-22.0,...,0.0,0.0,8.0,-23.0,-2.0,1034.0,NW,231.97,0.0,0.0
43821,9.0,-22.0,-1.0,1033.0,NW,221.24,0.0,0.0,10.0,-22.0,...,0.0,0.0,10.0,-22.0,-3.0,1034.0,NW,237.78,0.0,0.0
43822,10.0,-22.0,-2.0,1033.0,NW,226.16,0.0,0.0,8.0,-23.0,...,0.0,0.0,10.0,-22.0,-3.0,1034.0,NW,242.70,0.0,0.0
43823,8.0,-23.0,-2.0,1034.0,NW,231.97,0.0,0.0,10.0,-22.0,...,0.0,0.0,8.0,-22.0,-4.0,1034.0,NW,246.72,0.0,0.0